<app-header></app-header>
<ion-content>
  <br>
  <ion-searchbar></ion-searchbar>

 <!-- <ion-row>
  <br>
  <ion-button id="datetime">Choose Date:</ion-button>
<ion-modal [keepContentsMounted]="true" trigger="datetime">
  <ng-template>
    <ion-datetime displayFormat="YYYY-MM-DD" pickerOptions="{ mode: 'date' }"></ion-datetime>
  </ng-template>
</ion-modal>
 </ion-row> -->

  <ion-card class="app-card" *ngFor="let appointment of appointmentList">
    <ion-card-header>
      <ion-card-title>{{appointment.animal_name}} | {{appointment.pet_age}} yrs 
        <ion-chip color="primary">
        <ion-icon aria-hidden="true" name="call"></ion-icon>
        &nbsp;
        {{appointment.mobile}}
      </ion-chip>
    </ion-card-title>
      <!-- <ion-card-subtitle>Name</ion-card-subtitle>
      <ion-card-subtitle>Age</ion-card-subtitle> -->
    </ion-card-header>
    <ion-chip color="primary">{{appointment.a_date}} | {{appointment.a_time}}</ion-chip>
   
    <ion-chip color="tertiary">Rs.{{appointment.a_charge + appointment.a_payment}}</ion-chip>
    <ion-card-content>
      <ion-button class="image-btns" fill="solid" (click)="selectCamera()">
        <ion-icon fill="clear" name="camera"></ion-icon>
      </ion-button>
      <ion-button class="image-btns" fill="solid" (click)="selectPhotos()">
        <ion-icon fill="clear" name="image"></ion-icon>
      </ion-button>
      <!-- <ion-button fill="clear" class="complete-btn" color="tertiary" fill="solid">
        <ion-icon aria-hidden="true" name="checkmark"></ion-icon>
         Complete <br> Appointment
      </ion-button> -->
    </ion-card-content>
   
  </ion-card>
  
</ion-content>
