$custom-color-blue: #4493D0;
$custom-color-purple: #391D4B;
$custom-color-white: #FFFFFF;
$custom-color-black: #000000;

$custom-color-red: #FF3B30;
$custom-color-light-purple: #A491B0;

$custom-color-light-gray: #e2e2e2;

