<ion-content>
  <ion-grid class="h-100 login-block">
    <ion-row class="logo-row margin-m5">
      <ion-col class="content-center">
        <img src="../../../assets/CeylonDocLogo.png" cache-img="logo_img" style="height: 30vh;"/>
      </ion-col>
    </ion-row>

    <ion-row class="margin-m5">
      <ion-col class="content-center">
        <label class="header-t1 fc-black"><b>Assistant</b></label>
        <br><br>
        <label class="content-t1 fc-black">Please select doctor to continue.</label>
      </ion-col>
    </ion-row>

    <ion-col>
      
        <ion-card [class.clicked]="isCardClicked" *ngFor="let doctor of doctorList" (click)="selectDoctor(doctor.id)">
          <ion-card-header>
            <ion-card-title>Dr. {{doctor.name}} </ion-card-title>
            <!-- <ion-card-subtitle>Name</ion-card-subtitle>
            <ion-card-subtitle>Age</ion-card-subtitle> -->
          </ion-card-header>
          <!-- <ion-chip color="primary">
            <ion-icon aria-hidden="true" name="call"></ion-icon>
            &nbsp;
            0714564568
          </ion-chip>  -->
        </ion-card>
    <ion-button>

    </ion-button>
    </ion-col>
  </ion-grid>
</ion-content>
